<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Burgers!</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!-- Local Javascript -->
    <script src="./JS/main.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="./CSS/style.css">

</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <img src="./Images/burger.jpg">

            </div>

            <div class="col-sm-2"></div>

        </div>

        <div class="row">

            {{{body}}}

        </div>

        <div class="row">
            <form>
                <div class="form-group">
                    <label for="newBurger">Add a Burger</label>
                    <input type="text" class="form-control" id="newBurger" placeholder="Enter your burger's name">
                </div>
                <button class="btn-primary addBurger">Add Your Burger!</button>
            </form>
        </div>

    </div>

</body>

</html>